* {
    box-sizing: border-box;
}

.controlBar {
    width:60%;
    height: 15vh;
    padding-top: 12px;
    border: 1px solid violet;
}

.controlIcon:hover {
    cursor: pointer;
}

.infoField {
    color: violet;
}